.headerHead {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px 10px 20px;
}

.logoheder {
  width: 304px;
  height: auto;
}
.logoImg {
  width: 200px;
  height: 100px;
}
.infoheder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.userheder {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.avatarheder {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.usernameheder {
  font-size: 10px;
  line-height: 12px;
  color: var(--grey);
}

.formheder {
  display: flex;
  align-items: center;
  background: var(--dark);
  border-radius: 6px;
  height: 27px;
  padding: 7px 10px;
  column-gap: 16px;
  width: 300px;
  position: relative;
}

.iconheder {
  width: 13px;
  height: 13px;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: var(--dark-sea);
}

.input {
  flex-grow: 1;
}

.input input {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  background: none;
  outline: none;
  width: 100%;
}

.account {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.favourites {
  cursor: pointer;
}

.account svg {
  width: 24px;
  height: 24px;
}

.icon-fav {
  stroke: var(--grey);
  fill: none;
}

.icon-cart {
  fill: var(--grey);
}

.icon-fav:hover {
  stroke: var(--white);
}

.icon-cart:hover {
  fill: var(--white);
}

.cartHeder {
  position: relative;
}

.count {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--violet);
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  color: var(--light);
  text-align: center;
  line-height: 16px;
}

.boxheder {
  z-index: 9;
  top: 120%;
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background: var(--dark-sea);
  border-radius: 8px;
}

.boxheder::-webkit-scrollbar {
  display: none;
}

.itemheder {
  font-size: 13px;
  color: var(--grey);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.itemheder:hover {
  color: var(--light);
}

.imageheder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 50px;
  width: 50px;
}

/* #darkMode {
  background: transparent
    url("https://github.com/alekspopovic/DarkMode/blob/master/src/moon.png")
    no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black;
} */

/* .theme-switch {
  --background: #fff;
  --text: #333;
  color: var(--text);
  width: 50px;
  height: 22px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;

  .switch {
    background: white;
    width: 18px;
    height: 18px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: 0.5s all ease;
  }
}

.theme-switch {
  --background: #fff;
  --text: #333;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;

  .switch {
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
  }
} */
